<div class="container background-white">
    <div class="row">
        <ul class="nav nav-tabs">
            {{#if userLoggedIn}}
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li class="active"><a href="/all-items"><span class="glyphicon glyphicon-th-list"></span> All items</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {{else}}
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li class="active"><a href="/all-items"><span class="glyphicon glyphicon-th-list"></span> All items</a></li>
            {{/if}}
        </ul>
    </div>
    <div class="row">
        <h1 class="text-center">Remy's List</h1>
        <p class="text-center">The Neighborhood Hub</p>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{#if userLoggedIn}}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Image link</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {{#each items}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.category}} </td>
                    <td>{{this.description}} </td>
                    <td><a href="{{this.imageURL}}" target="_blank">Click here</td>
                    <td>{{this.Lender.location}} </td>
                    {{#if this.available}}
                        <td>Available</td>
                        <td> <button type="button" class="btn btn-success btn-xs" id="request-item" request-item-id="{{this.id}}" onclick="document.getElementById('id01').style.display='block'">Request</button> </td>
                    {{else}}
                    <td>Unavailable</td>
                    <td></td>
                    {{/if}}
                </tr>
                {{else}}
                <p>Record not available</p>
                {{/each}}
            </table>
            {{else}}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Image link</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {{#each items}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.category}} </td>
                    <td>{{this.description}} </td>
                    <td><a href="{{this.imageURL}}" target="_blank">Click here</td>
                    <td>{{this.Lender.location}} </td>
                    {{#if this.available}}
                        <td>Available</td>
                        <td><a href="/"><button type="button" class="btn btn-primary btn-xs"> Login to borrow</button></a></td>
                    {{else}}
                    <td>Unavailable</td>
                    <td></td>
                    {{/if}}
                </tr>
                {{else}}
                <p>Record not available</p>
                {{/each}}
            </table>
            {{/if}}
        </div>
    </div>
    <div id="id01" class="modal-box">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content">
            <p class="text-center"> Send mail</p>
             <div class="form-group">
                <input class="add-input" id="num-days" type="number" placeholder="Number of days" required>
            </div>
            <div class="form-group">
               <textarea class="form-control" rows="5" id="email-message" placeholder="Enter your message here..." required></textarea>
            </div>
            <div class="clearfix">
                <button type="submit" class="addButton" id="send-mail">Submit</button>
            </div>
        </form>
    </div>    
</div>