<div class="container background-white">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="active"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/all-items"><span class="glyphicon glyphicon-th-list"></span> All items</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
    <div class="row">
        <h1 class="text-center">Remy's List</h1>
        <p class="text-center">Your Neighborhood Hub</p>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li><a href="/profile">Personal Info</a></li>
                <li><a href="/items-by-lender">Lend</a></li>
                <li class="active"><a href="/items-by-borrower">Borrow</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">  
            {{#if items}}
            <p class="text-center secondary-heading">Items you borrowed</p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Image url</th>
                    <th></th>
                </tr>
                {{#each items}}
                <tr>
                    <td class="title-case">{{this.name}} </td>
                    <td class="title-case">{{this.category}} </td>
                    <td>{{this.description}} </td>
                    <td><a href="{{this.imageURL}}" target="_blank">Click me</td>
                    <td><button type="button" class="btn btn-info btn-xs title-case reply-lender" lender-id="{{this.lender_id}}" onclick="document.getElementById('id01').style.display='block'">Mail to lender</button></td>
                </tr>
                {{/each}}
            </table>
            {{else}}
                <p class="text-center no-record-message">You haven't borrowed anything</p>
            {{/if}}
        </div>
    </div> 
    <div id="id01" class="modal-box">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content">
            <p class="text-center">Send mail</p>
            <div class="form-group">
               <textarea class="form-control" rows="5" id="reply-lender-mail" placeholder="Enter your message here..." required></textarea>
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="addButton contact-lender">Submit</button>
            </div>
        </form>
    </div> 
</div>