<div class="container background-white">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="active"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/all-items"><span class="glyphicon glyphicon-th-list"></span> All items</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
    <div class="row">
        <h1 class="text-center">Remy's List</h1>
        <p class="text-center">Your Neighborhood Hub</p>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li><a href="/profile">Personal Info</a></li>
                <li class="active"><a href="/items-by-lender">Lend</a></li>
                <li><a href="/items-by-borrower">Borrow</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{#if items}}
           <p class="text-center secondary-heading">Items you are offering to lend</p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Image url</th>
                    <th>Status</th>
                    <th>Borrower</th>
                    <th></th>
                </tr>
                {{#each items}}
                <tr>
                    <td class="title-case">{{this.name}} </td>
                    <td>{{this.category}} </td>
                    <td>{{this.description}} </td>
                    <td><a href="{{this.imageURL}}" target="_blank">Click me</td>
                    {{#if this.available}}
                        <td><button type="button" class="btn btn-success btn-xs make-unavailable" available-item-id="{{this.id}}">Available</button> </td>
                    {{else}}
                        <td><button type="button" class="btn btn-danger btn-xs make-available" unavailable-item-id="{{this.id}}">Unavailable</button> </td>
                    {{/if}}
                    <td><button type="button" class="btn btn-info btn-xs title-case reply-borrower" borrower-id="{{this.Borrower.id}}" onclick="document.getElementById('id02').style.display='block'">Mail to {{this.Borrower.fullName}}</button></td>
                    <td ><button type="button" class="btn btn-warning btn-xs delete-item" delete-item-id="{{this.id}}">Delete</button></td>       
                </tr>
                {{/each}}
            </table>
            {{else}}
                <p class="text-center no-record-message">You haven't lending anything</p>
            {{/if}}
        </div>
    </div> 
    <div class="row text-center">
        <button type="button" class="btn btn-primary btn-xs" onclick="document.getElementById('id01').style.display='block'">Add new item</button>
    </div>

    <div id="id01" class="modal-box">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content">
            <p class="text-center add-item-form-title">Add new Item</p>
            <div class="form-group">
                <input class="add-input" id="add-item-name" type="text" placeholder="Enter item name" required>
            </div>
            <div class="form-group">
                <input class="add-input" id="add-item-description" type="text" placeholder="Enter item description" required>
            </div>
             <div class="form-group">
                <input class="add-input" id="add-item-url" type="text" placeholder="Enter item image url" required>
            </div>
            <div class="form-group">
                <label for="user-name">Category</label>
                <select class="form-control" id="add-item-category">
                    <option value="General" selected>General</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Jewelry">Jewelry</option>
                    <option value="Appliances">Appliances</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Books">Book</option>
                </select>
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="addButton" id="add-new-item" lender-id="{{userId}}">Add item</button>
            </div>
        </form>
    </div>  

    <div id="id02" class="modal-box">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content">
            <p class="text-center">Send mail</p>
            <div class="form-group">
               <textarea class="form-control" rows="5" id="reply-email" placeholder="Enter your message here..." required></textarea>
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="addButton send-reply">Submit</button>
            </div>
        </form>
    </div>     
</div>