<div class="container background-white">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="active"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/all-items"><span class="glyphicon glyphicon-th-list"></span> All items</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
    <div class="row">
        <h1 class="text-center">Remy's List</h1>
        <p class="text-center">The Neighborhood Hub</p>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li><a href="/profile"><span class="glyphicon"></span> Personal Info</a></li>
                <li class="active"><a href="/items-by-lender"><span class="glyphicon"></span> Lending</a></li>
                <li><a href="/items-by-borrower"><span class="glyphicon"></span> Borrowed</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">Items you are offering to lend</p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Image url</th>
                    <th>Status</th>
                    <th>Borrower</th>
                    <th></th>
                </tr>
                {{#each items}}
                <tr>
                    <td>{{this.name}} </td>
                    <td>{{this.category}} </td>
                    <td>{{this.description}} </td>
                    <td><a href="{{this.imageURL}}" target="_blank">Click me</td>
                    {{#if this.available}}
                        <td>Available <button type="button" class="btn btn-danger btn-xs" id="make-unavailable" available-item-id="{{this.id}}">Change</button> </td>
                    {{else}}
                        <td>Unavailable <button type="button" class="btn btn-success btn-xs" id="make-available" unavailable-item-id="{{this.id}}">Change</button> </td>
                    {{/if}}
                    <td>{{this.Borrower.fullName}} </td>
                    <td><button type="button" class="btn btn-primary btn-xs" id="edit-item" edit-item-id="{{this.id}}">Edit</button></td>       
                </tr>
                {{else}}
                    <p>Record not available</p>
                {{/each}}
            </table>
        </div>
    </div> 
    <div class="row text-center">
        <button type="button" class="btn btn-success btn-xs" onclick="document.getElementById('id01').style.display='block'">Add new item</button>
    </div>
    <div id="id01" class="modal-box">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content">
            <p class="text-center add-item-form-title">Add new Item</p>
            <div class="form-group">
                <input class="add-input" id="add-item-name" type="text" placeholder="Enter item name" required>
            </div>
            <div class="form-group">
                <input class="add-input" id="add-item-description" type="text" placeholder="Enter item description" required>
            </div>
             <div class="form-group">
                <input class="add-input" id="add-item-url" type="text" placeholder="Enter item image url" required>
            </div>
            <div class="form-group">
                <label for="user-name">Category</label>
                <select class="form-control" id="add-item-category">
                    <option value="General" selected>General</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Jewelry">Jewelry</option>
                    <option value="Appliances">Appliances</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Books">Book</option>
                </select>
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="addButton" id="add-new-item" lender-id="{{userId}}">Add item</button>
            </div>
        </form>
    </div>       
</div>