<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="active"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/all-items"><span class="glyphicon glyphicon-th-list"></span> All items</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
    <div class="row">
        <h1 class="text-center">Remy's List</h1>
        <p class="text-center">The Neighborhood Hub</p>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li class="active"><a href="/profile"><span class="glyphicon"></span> Personal Info</a></li>
                <li><a href="/items-by-lender"><span class="glyphicon"></span> Lending</a></li>
                <li><a href="/items-by-borrower"><span class="glyphicon"></span> Borrowed</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center profile-heading">Your Info</p>
            {{#each data}}
            <table class="table personal-info">
                <tr>
                    <td>Full name</td>
                    <td>{{this.fullName}}</td>
                </tr>
                <tr>
                    <td>User name</td>
                    <td>{{this.userName}} </td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{this.email}}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{this.location}}</td>
                </tr>
            </table>
            {{else}}
            <p>Record not available</p>
            {{/each}}
        </div>
    </div>
    <div class="row text-center">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-danger">Edit</button>
    </div>
    <div id="id01" class="modal-box">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> {{#each
        data}}
        <form class="modal-content">
            <div class="form-group">
                <label class="add-text"><b>Full Name</b></label>
                <input class="add-input" id="update-full-name" type="text" placeholder="Edit your Full Name" value="{{this.fullName}}" name="fullName"
                    required>
            </div>
            <div class="form-group">
                <label class="add-text"><b>Email</b></label>
                <input class="add-input" id="update-email-id" type="text" placeholder="Enter new email" value="{{this.email}}" name="email">
            </div>
            <div class="form-group">
                <label class="add-text"><b>Location</b></label>
                <input class="add-input" id="update-location" type="text" placeholder="Enter new Location" value="{{this.location}}" name="location">
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="addButton" id="update-user">Update</button>
            </div>
        </form>
        {{/each}}
    </div>
</div>