<div class="container text-center">
    <div class="">
        <ul class="nav nav-tabs">
            <li><a href="home.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="active"><a href="profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="profile.html"><span class="glyphicon glyphicon-envelope"></span> Requests</a></li>
        </ul>
    </div>
    <div class="jumbotron bg">
        <h1 class="text-center">Remy's List</h1>
        <h4> </h4>
        <p class="text-center">The Neighborhood Hub</p>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="bs-example">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="profile.html"><span class="glyphicon"></span> Personal Info</a></li>
                        <li><a href="lend.html"><span class="glyphicon"></span> Lend</a></li>
                        <li><a href="borrow.html"><span class="glyphicon"></span> Borrow</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="image-section">
                        <img id="image" src="assets/img/female-upload.png" class="img-circle">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container info-display">
                        <p id="full-name"> {{data.fullName}}</p>
                        <p id="user-name"> {{data.userName}} </p>
                        <p id="email"> {{data.email}} </p>
                        <p id="location"> {{data.location}} </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-danger" id="edit-info"> Edit your information </button>
                    <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                        <form class="modal-content animate "id="update-user-info-form">
                            <div class="container">
                                <label class="add-text"><b>Full Name</b></label>
                                <input class="add-input" id="update-full-name" type="text" placeholder="Edit your Full Name" value="{{data.fullName}}" name="fullName" required>
                                <label class="add-text"><b>Email</b></label>
                                <input class="add-input" id="update-email-id" type="text" placeholder="Enter new email" value="{{data.email}}" name="email">
                                <label class="add-text"><b>Location</b></label>
                                <input class="add-input" id="update-location" type="text" placeholder="Enter new Location" value="{{data.location}}"name="location">
                                <div class="clearfix">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                    <button type="submit" class="addButton" id="update-user">Submit New Info</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>